<!DOCTYPE html>
<html ng-app="dj">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - YoutTube DJ</title>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <!--<script type="application/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    @Scripts.Render("~/Scripts/Utlty.js")
    @Scripts.Render("~/Scripts/frntScript.js")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery.signalR-2.1.0.js")
    <script src="/signalr/hubs" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <link rel="shortcut icon" href="/favicon.png" />
</head>
<body>
    <header class="page-header text-center">
        <h1>
            <img src="/Images/logo.png" alt="YoutTube DJ" height="40" width="48"/>
            YoutTube DJ
            <small>A collaborative video queue</small>
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <span style="font-size: 0.4em">(@HttpContext.Current.User.Identity.Name)</span>
            }
        </h1>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>