@{
    ViewBag.Title = "Player";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.signalR-2.1.0.js")
<script src="/signalr/hubs" type="text/javascript"></script>
@Scripts.Render("https://www.youtube.com/iframe_api")
@Scripts.Render("~/Scripts/bckScript.js")
@Scripts.Render("~/Scripts/Utlty.js")

<div id="player"></div>

